@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body {
  height: auto;
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
}

html body input:-webkit-autofill,
html body input:-webkit-autofill:hover,
html body input:-webkit-autofill:focus,
html body input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: 400;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p, li {
  color: #9fabb2;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #4c545d;
}

img {
  height: auto;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ios--btn, .mac--btn {
  border: 0;
  outline: none;
  border-radius: 50px;
  padding: 1.8% 3.5%;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-left: 9px;
}

.ios--btn {
  background-color: #26baa4;
}

.mac--btn {
  background-color: #6173ff;
}

header {
  background-image: url("/clipboard-landing-page-master/images/bg-header-desktop.png");
  background-position: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

header .header-content {
  margin-top: 5%;
  width: 50%;
  max-width: 50%;
}

header .header--text {
  margin-top: 8%;
}

header .header--text h3 {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 0.8em;
}

header .header--text p {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 25px;
}

header .header--buttons {
  margin-top: 35px;
}

section .section-header {
  text-align: center;
  width: 50%;
  max-width: 50%;
  margin-top: 6%;
}

section .section-header h3 {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 0.8em;
}

section .section-header p {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 25px;
  line-height: 1.5em;
}

section .first-image {
  margin-top: 8%;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .first-image img {
  width: 100%;
}

section .first-image .options--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3% 8% 0 8%;
  height: auto;
}

section .first-image .option {
  margin-bottom: 40px;
  width: 70%;
}

section .first-image .option h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}

section .first-image .option p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
}

section .img--div.container {
  width: 50%;
  margin-top: 6%;
}

section .img--div.container img {
  width: 100%;
}

section .supercharge {
  margin-top: 30px;
}

section .section--list {
  width: 90%;
  max-width: 90%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 7%;
}

section .section--list .section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 28px;
  width: 28%;
}

section .section--list .section__list img {
  width: 40px;
  margin-bottom: 15px;
}

section .section--list .section__list h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

section .section--list .section__list p {
  font-size: 14px;
  text-align: center;
  line-height: 1.8em;
}

section .partners--div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  width: 90%;
  margin: 8% auto;
  padding: 0 2% 0 3%;
  grid-gap: 40px;
}

section .download--div {
  width: 50%;
  text-align: center;
  margin: 8% auto;
}

section .download--div h3 {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 0.8em;
}

section .download--div p {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 25px;
}

section .download--div .btns {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .download--div .btns button {
  padding: 12px 25px;
  margin-left: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer--logo {
  margin-right: 15%;
}

.footer--logo img {
  width: 60px;
}

.footer--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav li {
  font-size: 16px;
  margin-right: 70px;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
}

.footer--icons {
  justify-self: flex-end;
  margin-top: 10px;
}

.footer--icons img {
  margin-right: 15px;
}
